.logo{
	float:left;
	}
.top-menu{
	float:right;
	  background: #4dc47d;
  margin: 3em 0 0 0;
  border-radius:8px;
}
.top-menu ul li{
	display:inline-block;
}
.top-menu ul li a{
	display:block;
	color:#181a1b;
	font-size:1.1em;
	padding:1em 1em;
	text-decoration:none;
}
.top-menu ul li.active a,.top-menu ul li a:hover{
	color:#fff;
}
	

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}