.modal-footer {   border-top: 0px; }
.banner{
background:url(../images/academia%202%20b%20reviewed.jpg);
  background-attachment:fixed;
  min-height: 900px;
  background-size: cover;
}
#loginModal{
	margin-top:200px;
	opacity:0.3;
	transition:0.8s all;
 -webkit-transition:0.8s all;
 -moz-transition:0.8s all;
  -o-transition:0.8s all;
 -ms-transition:0.8s all;
}
.modal-header{
	opacity:1!important;
}
#loginModal:hover{
	opacity:1;
}
#loginModal2{
	margin-top:100px;
	opacity:0.3;
	transition:0.8s all;
 -webkit-transition:0.8s all;
 -moz-transition:0.8s all;
  -o-transition:0.8s all;
 -ms-transition:0.8s all;
}
#loginModal2:hover{
	opacity:1;
}

.logo{
	float:left;
	position:fixed;
	margin-left:5em;
}
@media (max-width: 1024px){
.container {
	width:1024px;
}
.logo{
	width:17%
}
.logo img{
	background-size:100%;
	width:100%
}
@media (max-width: 768px){
.container {
  width: 739px;
}
.logo {
  margin-left: 2em;
}
@media (max-width: 640px){
.container {
  width: 610px;
}

.logo {
  width: 21%;
}
@media (max-width: 480px){
.container {
  width: 452px;
}
.logo {
  width: 40%;
}