.locate{



	padding-top: 1000px
}
.color{


	color: red;
	text-align: center;
}
body{
	background-image : url('../img/banner.jpg');
	background-color:red;
}
.butt{
	
	background-color:green;
}