/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');
.profile li{
	display:block;
}

html, body {
   height: 100%;
   font-family:'Open Sans',arial,sans-serif;
}

.profile {
	margin-top:40px;
	margin-bottom:80px;
}
.img-thumbnail {
	min-height:140px;
	min-width:140px;
}
.schools{
	margin-top:250px;
	border-radius:8px;
	padding:20px;
	background-color:#FFFFFF;
	opacity:0.7;
}
.schools a{
	color:#4dc47d!important;
	transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
  -o-transition:0.5s all;
 -ms-transition:0.5s all;
}
.schools a:hover{
	color:#000000!important
}
.copy a{
	color:#4dc47d!important;
	transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
  -o-transition:0.5s all;
 -ms-transition:0.5s all;
}

.copy a:active,a:hover{
	color:#000000!important
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
	padding-top: 5px;
	padding-bottom: 5px;
}
.logo{
	float:left;
	
}
.posts-left{
	float: left;
	margin-right: 3px;
	overflow: hidden;
}
.posts-right{
	float: right;
}	
.articles h3{
	color:#4dc47d;
	transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
  -o-transition:0.5s all;
 -ms-transition:0.5s all;
}
.articles h3:hover{
	color:#000000;
}
.top-menu{
	float:right;
	  background: #4dc47d;
  margin: 3em 0 0 0;
  border-radius:8px;
}
.top-menu ul li{
	display:inline-block;
}
.top-menu ul li a{
	display:block;
	color:#181a1b;
	font-size:1.1em;
	padding:1em 1em;
	text-decoration:none;
}
.top-menu ul li.active a,.top-menu ul li a:hover{
	color:#fff;
}
.banner2{
	background:url(../images/banner.jpg) no-repeat;
	background-size:cover;
	min-height:270px;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image:url('http://lorempixel.com/1024/760/nature/3/');
    background-size:cover;
    background-attachment:fixed;
}

.divider {
	margin-top:32px;
}
.panel-body a{
	color:#4DC47D;!important
}

#main {
    background-color:#fefefe;
}
#main .img-circle {
  margin-top:18px;
  height:70px;
  width:70px;
}

#sidebar{
	background-image:url(../images/banner2.jpg);
	background-attachment:fixed;
}
#sidebar a {
	background-color: transparent;
}

}
#sidebar-footer {
  position:absolute;bottom:5px;
}
#footer {
  margin-bottom:20px;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
  #sidebar,#sidebar a.logo {
	text-align: left;
	margin: 0 auto;
	margin-top: 30px;
	font-size: 26px;
  }
  #sidebar a.logo {
    font-size:50px;
    height:75px;
    width:75px;
    margin-bottom:30px;
  }
}




/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
}

.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}
