.profile {
	margin-top:40px;
	margin-bottom:80px;
}
.img-thumbnail {
	min-height: 20px;
	min-width: 30px;
}
.schools{
	margin-top:120px;
	padding:20px;
	opacity:0.7;
}
.schools a{
	color:#4dc47d!important;
	transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
  -o-transition:0.5s all;
 -ms-transition:0.5s all;
}
.schools a:hover{
	color:#fff!important
}
.schools h4 a{
font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-size:12px;
	font-weight:800;
	letter-spacing:1px;
	display:block;
	color:#4dc47d;
	transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
  -o-transition:0.5s all;
 -ms-transition:0.5s all;
    padding:1em 1em;
	text-decoration:none;
}
.top-menu{
	float:right;
  margin: 3em 0 0 0;
  border-radius:8px;
}
.top-menu ul li{
	display:inline-block;
}
.top-menu ul li a{
	font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-size:12px;
	font-weight:800;
	letter-spacing:1px;
	display:block;
	color:#4dc47d;
	transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
  -o-transition:0.5s all;
 -ms-transition:0.5s all;
    padding:1em 1em;
	text-decoration:none;
}
.logo{
	float:left;
	
}
.posts-left{
	float: left;
	margin-right: 3px;
	overflow: hidden;
}
.posts-right{
	float: right;
}	
.articles h3{
	color:#4dc47d;
	transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
  -o-transition:0.5s all;
 -ms-transition:0.5s all;
}
.articles h3:hover{
	color:#000000;
}
small.text-muted {
  font-family:courier,courier-new,monospace;
}
.top-menu{
	float:right;
  margin: 3em 0 0 0;
  border-radius:8px;
}
.top-menu ul li{
	display:inline-block;
}
.top-menu ul li a{
	font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-size:12px;
	font-weight:800;
	letter-spacing:1px;
	display:block;
	color:#4dc47d;
	transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
  -o-transition:0.5s all;
 -ms-transition:0.5s all;
    padding:1em 1em;
	text-decoration:none;
}
.top-menu ul li.active a,.top-menu ul li a:hover{
	color:#fff;
}
.divider {
	margin-top:32px;
}
/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
}

.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}
.copy a{
	color:#4dc47d!important;
	transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
  -o-transition:0.5s all;
 -ms-transition:0.5s all;
}

.copy a:active,a:hover{
	color:#fff!important
}


#wrapper {
	padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
	width: 100%;
    position: absolute;
    padding: 15px;
	padding-left:30px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
	margin-top:30px;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}